.formacoes {
  padding: 2rem 0;
}

.formacao__container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.formacao__imagem {
  align-items: center;
  background-color: var(--details-bg);
  border: 1px solid var(--text-color-1);
  border-radius: 4px;
  display: flex;
  height: 118px;
  justify-content: center;
  max-width: 100%;
}

.formacao__imagem img {
  max-height: 50%;
  max-width: 50%;
}

@media screen and (min-width: 768px) {
  .formacoes {
    padding-top: 5.5rem;
    padding-bottom: 1rem;
  }
  .formacao__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .formacao__imagem {
    height: 180px;
  }
}

@media screen and (min-width: 1000px) {
  .formacao__imagem {
    height: 260px;
  }
}
