.skill {
  align-items: center;
  background: red;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: calc(20% - 1rem);
}
