.projeto__caixa {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1px;
}

.projeto__caixa:nth-child(odd) img {
  grid-column: 1/3;
}

.projeto__caixa:nth-child(even) img {
  grid-column: 2/-1;
}
