.projeto__caixa {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1.675rem;
}

.projeto__caixa:last-of-type {
  padding-bottom: 0;
}

.projeto__img {
  border: 10px groove var(--dark-grey);
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  height: 190px;
  max-width: 100%;
  filter: blur(4px);
  transition: 0.6s;
}

.projeto__img:hover {
  filter: blur(0);
}

@media screen and (min-width: 768px) {
  .projeto__caixa {
    flex-direction: row;
  }
  .projeto__img {
    height: auto;
    max-width: 60%;
  }
  .projeto__caixa:nth-child(odd) .projeto__img {
    order: -1;
  }
  .projeto__caixa:nth-child(even) .projeto__conteudo {
    order: -1;
  }
}

@media screen and (min-width: 1200px) {
  .projeto__img {
    height: 450px;
    max-width: 70%;
  }
}
