.cabecalho {
  /* padding: 0 23.5px; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s;
  width: 100%;
}

.cabecalho__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: space-between;
  padding-top: 2rem;
}

.cabecalho__titulo {
  align-items: center;
  color: var(--dark-grey);
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.18;
  margin-bottom: 0.5rem;
}

.cabecalho__titulo:hover {
  color: var(--blue);
  transition: 0.2s;
}

.cabecalho__titulo::before {
  content: url(/assets/img/stars.svg);
  height: 24px;
  margin-right: 0.5rem;
  width: 24px;
}

@media screen and (min-width: 768px) {
  .cabecalho__container {
    flex-direction: row;
    padding: 2rem 0;
  }
  .cabecalho__titulo {
    margin-bottom: 0;
  }
}
