.menu {
  align-items: center;
  display: flex;
}

.menu__item {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.18;
  position: relative;
}

.menu__item:not(:last-child) {
  display: none;
}

.menu__link {
  color: var(--text-color-1);
}

.menu__link::after {
  background-color: var(--datails-color-1);
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 20px;
  transition: 0.3s;
  width: 0;
}

.menu__item:last-child .menu__link {
  font-weight: 700;
}

@media screen and (min-width: 1000px) {
  .menu {
    gap: 1.5rem;
  }
  .menu__item:not(:last-child) {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .menu {
    gap: 2rem;
  }
}
