.ajuste {
  padding-top: 4rem;
}

.resumo {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 2rem;
}

.resumo__conteudo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.resumo__titulo {
  color: var(--dark-grey);
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

.resumo__subtitulo {
  color: var(--dark-grey);
  font-weight: 400;
  line-height: 1.18;
}

.resumo__lista {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  justify-content: space-between;
  line-height: 1.18;
  max-width: 300px;
}

.lista__link {
  align-items: center;
  display: flex;
  color: var(--dark-grey);
}

.lista__link:hover {
  animation: 0.3s link forwards;
}

@keyframes link {
  from {
    color: var(--dark-grey);
    transform: translateX(0);
  }
  to {
    color: var(--blue);
    transform: translateX(5px);
  }
}

.lista__link:hover .lista__detalhe {
  transform: translate3d(5px, -5px, 0);
  transition: 0.3s;
}

.resumo__imagem {
  background-image: url(/assets/img/profile.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  border-radius: 50%;
  display: block;
  height: 120px;
  width: 120px;
}

@media screen and (min-width: 768px) {
  .resumo {
    flex-direction: row;
  }
  .resumo__titulo {
    font-size: 1.375rem;
    text-align: left;
  }
  .resumo__subtitulo {
    font-size: 1rem;
  }
  .resumo__conteudo {
    max-width: 70%;
  }
  .resumo__imagem {
    height: 220px;
    width: 40%;
  }
}

@media screen and (min-width: 1000px) {
  .resumo__titulo {
    font-size: 3.25rem;
  }
  .resumo__subtitulo {
    font-size: 1.375rem;
  }
  .resumo__imagem {
    height: 340px;
    width: 340px;
  }
}
