.sobre {
  background-color: var(--light-blue-bg);
  padding: 4rem 0;
}

.sobre__conteudo {
  max-width: 100%;
}

.sobre__conteudo p + p {
  margin-top: 1rem;
}

.sobre__imagem {
  margin-top: 1rem;
}

.sobre__texto {
  font-size: 0.875rem;
}

@media screen and (min-width: 1000px) {
  .sobre__texto {
    font-size: 1rem;
  }
  .sobre__conteudo {
    max-width: 70%;
  }
}
