.rodape {
  align-items: center;
  background-color: var(--details-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.rodape__descricao,
.rodape__ano {
  color: var(--text-color-1);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.18;
}

.rodape__icones {
  font-size: 0.5rem;
  align-self: flex-end;
  justify-self: end;
}
