.js [data-anima] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js [data-anima].visivel {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.3s;
}

.js .detalheBorda {
  box-shadow: 0 2px 6px 0 var(--blue);
  background-color: var(--white);
  transition: all 0.3s;
}

.js .menu__link.active::after {
  transition: 0.3s;
  width: 100%;
}
