.caixa {
  align-items: center;
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 174px;
  justify-content: center;
}
